#header {
  font-size: 2rem;
  padding-bottom: 2rem;
}

#forgot {
  position: absolute;
  left: 90%;
  right: 26rem;
  top: 1.625rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #3a8dff;
}
